@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-app {
  height: 100vh;
  width: 100vw;
  font-family: 'Rowdies', sans-serif;
  background-color: #d7c3ee;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 100px;
  justify-content: space-between;
  height: 100px;
  background-color: #b497d6;
  color: black;
  z-index: 50;
}

.navbar ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 80px; */
  top: 100px;
  right: 0;
  height: calc(100vh - 100px);
  width: 80%;
  background-color: #b497d6;
  z-index: 49;
}

.navbar ul li {
  list-style: none;
  outline: none;
  padding: 0 200px;
  /* border: 2px dashed red; */
  cursor: pointer;
  transition: 0.15s ease-in-out all;
}

.navbar ul li:hover {
  background-color: #d7c3ee;
}

.navbar ul li a {
  text-decoration: none;
  color: initial;
  font-size: 90px;
}

.main {
  height: calc(100vh - 100px);
  width: 100%;
  display: grid;
  place-items: center;
}

.main h2 {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
}

.main h2 div span {
  font-size: 95px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: 0.15s all ease-in-out;
}

.main h2 div span:hover {
  color: #b497d6;
}

.main h2 div span .main h2 span.i {
  text-transform: lowercase;
}
